<h1> Lista de Frutas </h1>

@foreach (var item in ViewBag.Fruta)
{
    <li>
        ID: @item.Id <br>
        Fruta: @item.Nome <br>
        Preco: @item.Preco <br>
        Quantidade: @item.Quantidade <br>
        Categoria: @item.Categoria <br> 
        <br>
    </li>
}